<p id="notice"><%= notice %></p>

<p>
  <strong>Period:</strong>
  <%= @invoice.period %>
</p>

<p>
  <strong>Days:</strong>
  <%= @invoice.days %>
</p>

<p>
  <strong>Suppliernumber:</strong>
  <%= @invoice.suppliernumber %>
</p>

<p>
  <strong>Suppliername:</strong>
  <%= @invoice.suppliername %>
</p>

<p>
  <strong>Suppliersite:</strong>
  <%= @invoice.suppliersite %>
</p>

<p>
  <strong>Invoicenumber:</strong>
  <%= @invoice.invoicenumber %>
</p>

<p>
  <strong>Invoiceorcreditmemoamount:</strong>
  <%= @invoice.invoiceorcreditmemoamount %>
</p>

<p>
  <strong>Invoicedate:</strong>
  <%= @invoice.invoicedate %>
</p>

<p>
  <strong>Salestax:</strong>
  <%= @invoice.salestax %>
</p>

<p>
  <strong>String:</strong>
  <%= @invoice.string %>
</p>

<p>
  <strong>Freightchkremit:</strong>
  <%= @invoice.freightchkremit %>
</p>

<p>
  <strong>Msgcreditmemoref:</strong>
  <%= @invoice.msgcreditmemoref %>
</p>

<p>
  <strong>Linecost:</strong>
  <%= @invoice.linecost %>
</p>

<p>
  <strong>Cm:</strong>
  <%= @invoice.cm %>
</p>

<p>
  <strong>Busunit:</strong>
  <%= @invoice.busunit %>
</p>

<p>
  <strong>Store:</strong>
  <%= @invoice.store %>
</p>

<p>
  <strong>Acct:</strong>
  <%= @invoice.acct %>
</p>

<p>
  <strong>Costcntr:</strong>
  <%= @invoice.costcntr %>
</p>

<p>
  <strong>Productcode:</strong>
  <%= @invoice.productcode %>
</p>

<p>
  <strong>Activitycode:</strong>
  <%= @invoice.activitycode %>
</p>

<p>
  <strong>Gldesc:</strong>
  <%= @invoice.gldesc %>
</p>

<p>
  <strong>Usetax:</strong>
  <%= @invoice.usetax %>
</p>

<p>
  <strong>Fuelcharge:</strong>
  <%= @invoice.fuelcharge %>
</p>

<p>
  <strong>Status:</strong>
  <%= @invoice.status %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
